@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&display=swap');

/* defaults */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: lato, sans-serif;
    color: rgb(100, 100, 100);
}

a {
    text-decoration: none;
    color: inherit;
}

/* ********************** INDEX PAGE ********************** */

/* Header */

header {
    height: 75px;
}

#logo {
    float: left;
    font-size: 3em;
    font-weight: 400;
    line-height: 75px;
    margin-left: 10px;

    /* animation for falling logo */

    animation-name: logo-fall;
    animation-duration: 4s;
}

#try-logo {
    font-family: 'dancing script', cursive;
    color: rgb(226, 98, 98);
    font-size: 3em;
    font-weight: 400;
    line-height: 75px;
    margin-left: 30px;
    float: left;

    /* animation for falling logo */

    animation-name: logo-fall;
    animation-duration: 3s;
}

/* creates animation for logo */

@keyframes logo-fall {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

/* Navigation bar */

nav {
    position: fixed;
    background-color: white;
    opacity: 0.9;
    width: 100%;
    z-index: 5;
}

nav ul {
    float: right;
    margin: 0 20px 0 0;
    line-height: 75px;
    letter-spacing: 4px;
    font-size: 1em;

    /* animation for navbar dropping */

    animation-name: navdrop;
    animation-duration: 4s;
}

/* creates animation for navbar droppping */

@keyframes navdrop {
    0% {
        transform: translateY(-100px)
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav li a:hover {
    border-bottom: 1px solid rgb(226, 98, 98);
}

#recipes-nav {
    font-family: inherit;
    color: inherit;
    font-size: 1em;
    letter-spacing: 4px;
}

#recipes-nav:hover {
    border-bottom: 1px solid rgb(226, 98, 98);
}

/* drop down menu */

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-family: inherit;
    font-size: 1em;
    letter-spacing: inherit;
    color: inherit;
    padding: 0 16px;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: inherit;
    padding: 0 16px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 3em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* anchor points for sections to stop the nav bar from covering content when navigated to */

#anchor1,
#anchor2,
#anchor3 {
    position: relative;
    bottom: 200px;
}

/* hero section */

#hero {
    height: 600px;
}

#hero-image {
    width: 100%;
    height: 600px;
    background: url(../images/watermelon.jpg)no-repeat center center;
    background-size: cover;

    /* animation for hero image */

    animation-name: hero-zoom;
    animation-duration: 5s;
}

/* creates animation for hero zoom */

@keyframes hero-zoom {
    from {
        transform: scale(1.1)
    }

    to {
        transform: scale(1);
    }
}

#cover-text {
    color: rgb(226, 98, 98);
    font-size: 2em;
    font-family: lato, sans-serif;
    text-align: center;
    width: 300px;
    height: 200px;
    background-color: rgb(255, 255, 255, 0.75);
    border-radius: 5px;
    position: absolute;
    top: 200px;
    left: 50px;

    /* animation for cover text */

    animation-name: box-slide;
    animation-duration: 3s;
}

/* creaates animation for cover text */

@keyframes box-slide {
    from {
        transform: translateX(-700px);
    }

    to {
        transform: translateX(0);
    }
}

#cover-text:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#cover-text h3 {
    padding: 25px 0 10px 0;
}

.underline {
    text-decoration: underline;
}

/* Why section */

#why {
    text-align: center;
    margin: 0 auto;
}

/* Headers */

#why h2 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Videos */

iframe {
    height: 200px;
    width: 400px;
    margin-top: 1em;
}

/* Reasons why sections */

.reasons {
    display: flow-root;
    width: 30%;
    height: 450px;
    display: inline-block;
    text-align: center;
    margin: .5em;
}

.reasons a:hover {
    color: rgb(226, 98, 98);
}

.reasons i {
    font-size: 3em;
    margin-top: .75em;
}

/* Recipe link section */

#recipe-link {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Button to sing up page */

.change-button {
    text-align: center;
    clear: both;
    margin-top: 2em;
}

.change-button h3 {
    color: rgb(226, 98, 98);
    margin: 1em 0 1em;
    font-size: 2em;
}

#sign-up-link {
    background-color: rgb(226, 98, 98);
    color: white;
    width: 25em;
    height: 2em;
    margin: 0 auto;
    padding-top: 0.5em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#sign-up-link:hover {
    background-color: rgb(255, 157, 181);
}

/* Dinner table image */

#eat-image {
    height: 600px;
    width: 900px;
    filter: brightness(1.1);
    background-size: cover;
    margin: 2em auto;
    display: block;
}

/* Link to recipe page with pancake picture */

#pancake {
    height: 400px;
    width: 400px;
    display: inline-block;
}

#recipe-text {
    color: rgb(100, 100, 100);
    font-size: 2em;
    font-family: lato, sans-serif;
    text-align: center;
    width: 350px;
    height: 200px;
    margin-left: 2em;
    display: inline-block;
    position: relative;
    bottom: 100px;
}

#recipe-text:hover {
    color: rgb(226, 98, 98)
}

/* footer */

footer {
    clear: both;
    margin: 0 auto;
    padding: 5%;
}

#social-links {
    text-align: center;
}

#social-links li {
    display: inline;
    font-size: 3em;
    text-align: center;
    margin: 1%;
    padding: 5%;
}

#social-links li:hover {
    color: rgb(226, 98, 98)
}

/* ********************** RECIPES PAGE ********************** */

/* recipe image */

#recipe-cover-img {
    width: 100%;
    height: 600px;
    background: url(../images/food-layout.jpg)no-repeat center center;
    background-size: cover;
    margin-bottom: 1em;
    ;
}

#recipe-cover-text {
    color: rgb(100, 100, 100);
    font-size: 1.5em;
    font-family: lato, sans-serif;
    text-align: left;
    width: 300px;
    height: 125px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 450px;
    left: 50px;
    padding: 0.5em;
}

/* Recipes */

.section-header {
    font-size: 2em;
    margin-left: 2em;
}

#recipes {
    margin-top: 1em;
    width: 100%;
    height: auto;
    display: inline-block;
}

/* Recipe images section */

.image {
    height: 500px;
    width: 400px;
    margin-top: 1em;
    margin-left: 3em;
    background-size: cover;
    float: left;
}

.container {
    margin: 3em 3em;
    padding-top: 2em;
    display: block;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.fa-clock, .fa-utensils {
    margin-right: .75em;
    margin-left: .5em;
}

/* Recipe ingredients/method section */

.ingredients,
.method {
    height: fit-content;
    width: 400px;
    margin: 1em 0 2em 4em;
    float: left;
}

.ingredients li {
    margin-top: 1em;
    border-bottom: 1px solid rgb(100, 100, 100, 0.25);
}

#recipes h5 {
    margin-top: 1em;
}

.method li {
    margin-top: 1em;
    padding-left: .5em;
    text-align: left;
}

.recipe-header {
    margin-left: 3em;
}

.cook,
.serves {
    margin-top: .5em;
}

/* ********************** SIGNUP PAGE ********************** */

/* image behind form */

#signup-img {
    width: 100%;
    height: 600px;
    background: url(../images/happy.jpg)no-repeat center center;
    background-size: cover;
}

/* form */

#form {
    height: 600px;
}

#signup-form {
    width: 900px;
    padding: 1em;
    margin: 2em;
    background: rgb(255, 255, 255, 0.9);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    position: relative;
    bottom: 600px;

    /* animation for form slide */

    animation-name: form-slide;
    animation-duration: 3s;
}

/* creaates animation for cover text */

@keyframes form-slide {
    0% {
        transform: translateX(-600px)
    }

    50% {
        transform: translateX(50px);
    }

    100% {
        transform: translateX(0);
    }
}

form h2 {
    margin: .5em 0;
}

.text-input-name {
    color: inherit;
    width: 350px;
    height: 25px;
    margin: 1em 1em 20px 0;
    border: 1px solid rgb(100, 100, 100, .5);
    border-radius: 2px;
}

.text-input-email {
    color: inherit;
    width: 880px;
    height: 25px;
    margin: 1em 1em 20px 0;
    border: 1px solid rgb(100, 100, 100, .5);
    border-radius: 2px;
}

.text-input-name:hover,
.text-input-email:hover {
    border: 1px solid rgb(100, 100, 100, .75);
}

#age-range {
    width: 250px;
    display: inline-block;
}

input[type="radio"] {
    margin: .3em 3em;
}

#reason {
    width: 600px;
    margin-left: 1.5em;
    display: inline-block;
    position: relative;
    bottom: 4em;
}

input[type="checkbox"] {
    margin: 1em;
    text-align: left;
    display: inline-block;
}

#other {
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    color: inherit;
    width: 100%;
    padding: .25em;
    border: 1px solid rgb(100, 100, 100, .5);
}

#other:hover {
    border: 1px solid rgb(100, 100, 100, .75);
}

/* buttons */

#buttons {
    display: block;
    height: 2em;
    text-align: right;
}

#clear-button {
    color: white;
    background-color: rgb(100, 100, 100, .5);
    padding: .5em;
    border: 1px solid black;
    border-radius: 2px;
}

#join-button {
    background-color: rgb(100, 100, 100, .5);
    padding: .5em;
    border: 1px solid black;
    border-radius: 2px;
}

/* ********************** MEDIA QUERIES ********************** */

/* For larger to medium screens size 1490px and down */

    @media screen and (max-width: 1490px) {
        iframe {
            height: 150px;
            width: 300px;
        }

        .method {
            width: 90%;
        }
    }
/* For medium screens size 1000px and down */

    @media screen and (max-width: 1000px) {

        /* index page */

        #cover-text {
            top: 450px;
        }

        iframe {
            height: 400px;
            width: 600px;
        }

        #eat-image {
            width: 90%;
            height: auto;
        }

        #recipe-text {
            margin: 1em auto;
            display: block;
            bottom: 0;
        }

        .reasons {
            display: block;
            margin: 0 auto;
            width: 90%;
            height: fit-content;
        }

        /* Recipe page */

        .method {
            width: 400px;
        }

        /* Sign up page */

        #signup-form {
            width: 90%;
            margin: 1em auto;
        }

        #fname {
            width: 100%;
        }

        #lname {
            width: 100%;
        }

        #email {
            width: 100%;
        }

        #age-range {
            display: inline-block;
        }

        #reason {
            width: 55%;
            bottom: 60px;
            display: inline-block;
        }

        #other {
            width: 90%;
        }
    }

/* For small screens size 690px and down */

    @media screen and (max-width: 690px) {

        /* Index page */

        #try-logo {
            width: fit-content;
            float: none;
            display: inline-block;
            margin: 0;
        }

        #logo {
            width: fit-content;
            float: none;
            display: inline-block;
            margin: 0;
        }

        #site-links {
            display: inline-block;
        }

        nav ul {
            width: 100%;
            float: none;
            display: inline-block;
        }

        nav {
            width: 100vw;
            text-align: center;
        }

        #cover-text {
            left: 0;
        }

        iframe {
            width: 90%;
            height: auto;
        }

        #eat-image {
            display: none;
        }

        #pancake {
            width: 90%;
            height: auto;
            margin-top: 2em;
        }

        #sign-up-link {
            width: 90vw;
            height: 3em;
        }

        #recipe-text {
            width: 90%;
        }

        #social-links li {
            padding: 0;
            margin: .25em;
        }

        /* Recipe page */

        #recipe-cover-img {
            margin-top: 5.5em;
            height: 400px;
        }

        #recipe-cover-text {
            top: 400px;
            left: 0;
        }

        .section-header {
            margin: 0 .5em;
            border-bottom: 1px solid rgb(100, 100, 100, 0.25)
        }

        .container {
            width: 100%;
            margin: 0 0 1.5em;
            overflow: hidden;
            box-shadow: none;
        }

        .recipe-header {
            margin: 1em;
        }

        .image {
            width: 100vw;
            height: auto;
            margin: 0
        }

        .ingredients,
        .method {
            width: fit-content;
            margin: 1em 1em 1em 2em;
            padding: 1em;
        }

        /* Sign up page */

        #form {
            height: fit-content;
        }

        #signup-img {
            margin: 5em 0 5.5em 0;
        }

        #signup-form {
            position: absolute;
            width: 100vw;
            height: fit-content;
            margin: 5em 0 0 0;
            border: 0;
            top: 75px;
            max-width: 100%;
            overflow-x: hidden;
            box-sizing: border-box;
        }

        #signup-form h2 {
            text-align: center;
        }

        .text-input-name {
            width: 90%;
            margin: 1em 1em 20px 0;
        }

        .text-input-email {
            width: 90%;
        }

        #age-range {
            display: block;
            clear: both;
            margin-bottom: 1em;
        }

        #reason {
            margin: 0;
            bottom: 0;
            width: 100%;
        }

        #buttons {
            text-align: center;
            margin: 1em;
        }

        #footer {
            clear: both;
        }
    }